<div class="jumbotron">
   <div class="container">
     <h1 class="display-3">Welcome to SYCCO</h1><br>
     <h2 class"display-2">Click start now to begin</h2>
     <p>Once you've created a project you will be able to start training your own model.</p>
     <p><a class="btn btn-primary btn-lg" href="/create_new" role="button">Get Started &raquo;</a></p>
   </div>
 </div>

 <div class="container">
   <!-- Example row of columns -->
   <div class="row">
     <div class="col-md-4">
       <h2>About us</h2>
       <p>SYCCO was created by some very nifty university students for their second-year software course. Yeah nah I don't know what to write lol.</p>
       <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
     </div>
     <div class="col-md-4">
       <h2>How does SYCCO work?</h2>
       <p>SYCCO utilises TensorFlow, an open source machine learning framework. Our site allows you to re train existing TensorFlow models to be able to detect key features you wish to find in sets of photos.   </p>
       <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
     </div>
     <div class="col-md-4">
       <h2>What was SYCCO written in?</h2>
       <p>SYCCO's web design was created using a combination of Flask, HTML and JavaScript where as the machine learning was done using TensorFlow.</p>
       <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
     </div>
   </div>

   <hr>

 </div>
